.footerCont {
  width: 100%;
  /* height: 50vh; */
  background: linear-gradient(140deg, rgb(0, 45, 82), rgb(24, 105, 72));
  padding-bottom: 15px;
}

.socialMediaLinks {
  margin-top: 4rem;
}

a {
  text-decoration: none;
}
.socialMediaLinks a i {
  font-size: 30px;
  color: white;
  margin: 0.5rem 3rem;
}

.socialMediaLinks > a:nth-child(1) > i {
  color: white;
  border: 1px solid #0b66c3;
  background-color: #0b66c3;
  padding: 10px;
  border-radius: 50%;
}

.socialMediaLinks > a:nth-child(2) > i {
  color: white;
  border: 1px solid black;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
}

.socialMediaLinks > a:nth-child(3) > i {
  color: white;
  border: 1px solid #1da1f2;
  background-color: #1da1f2;
  padding: 10px;
  border-radius: 50%;
}

.footerContacts {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
.footerContacts a {
  font-size: 25px;
  color: white;

  margin: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContacts > a:nth-child(1) > i {
  color: white;
  border: 1px solid #0b66c3;
  background-color: #0b66c3;
  padding: 10px;
  border-radius: 50%;
}

.footerContacts > a:nth-child(2) > i {
  color: white;
  border: 1px solid black;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
}

.footerContacts > a:nth-child(3) > i {
  color: white;
  border: 1px solid #1da1f2;
  background-color: #1da1f2;
  padding: 10px;
  border-radius: 50%;
}

.titleHeader {
  color: white;
  font-size: 2.5em;
  font-weight: 500;
  padding-top: 20px;
}

.line {
  border: 1px solid white;
  width: 10em;
  margin: 0px auto;
  padding: 2px 1px;
  background-color: white;
  margin-top: 10px;
}

/* Example CSS for styling the form */

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
  margin-top: 40px;
}

.formGroup {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-weight: bold;
  color: #fff;
}

.input,
.textarea {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.submitButton {
  width: 105%;
  background: linear-gradient(140deg, rgb(0, 45, 82), rgb(24, 105, 72));
  color: #fff;
  padding: 10px 0px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  /* align-self: flex-end; */
}

.submitButton:hover {
  background: linear-gradient(140deg, rgb(24, 105, 72), rgb(0, 45, 82));
}

@media only screen and (max-width: 900px) {
  .socialMediaLinks {
    margin-top: 2rem;
  }

  .socialMediaLinks a i {
    font-size: 35px;
    color: white;

    margin: 2rem;
  }

  .footerContacts {
    margin-top: 2rem;
    display: grid;
  }

  a {
    text-decoration: none;
  }
  .footerContacts a i {
    font-size: 20px;
    color: white;

    /* margin: 1rem; */
  }
}

@media only screen and (max-width: 500px) {
  .socialMediaLinks {
    margin-top: 2rem;
  }

  .socialMediaLinks a i {
    font-size: 35px;
    color: white;

    margin: 1rem;
  }

  .footerContacts {
    margin-top: 2rem;
    display: grid;
  }

  a {
    text-decoration: none;
  }
  .footerContacts a i {
    font-size: 20px;
    color: white;

    margin: 1rem;
  }
}
