.firstRowCont{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: 50px auto;
    
}



.secondRowCont{

    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: 50px auto;
}

.eachLogoCont{
    max-width: 6rem;
    max-height: 10rem;
    

    
}

.eachLogoCont img{
    width: 4em;
    
}

.eachLogoCont >div{
    font-size: 14px;
    font-weight: 500;
}

.titleHeader{
    color: rgb(37, 37, 37);
    font-size: 2.5em;
    font-weight: 500;
}

.line{
    border: 1px solid rgb(37, 37, 37);
    width: 7em;
    margin: 0px auto;
    padding: 2px 1px;
    background-color: rgb(37, 37, 37);
    margin-top: 10px;
    margin-bottom: 80px;

}

@media only screen and (max-width: 500px) {

    .firstRowCont{
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 20px auto;
        flex-wrap: wrap;        

    
    }
  
    
    .secondRowCont{

        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 20px auto;
        flex-wrap: wrap;        
    
    }


    .eachLogoCont{
        max-width: 6rem;
        max-height: 10rem;
        
    margin: 15px 7px ;
        
    }
    
    .eachLogoCont img{
        width: 4em;
        
    }
    
    .eachLogoCont >div{
        font-size: 12px;
        font-weight: 500;
    }
    

} 