.stateWiseCoronaCont{
    margin-left: 80px;
}

.searchStateCont{
    /* border: 1px solid black; */
    background-image: linear-gradient(#00000083,#00000083),url("./img/background/corona-192.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size:cover;
    border-bottom: 5px solid #b6b6b6;
}
.searchStateCont>div{
    /* border: 1px solid white; */
    padding-top: 180px;
    
}
.searchStateCont>div>h2{
    color: white;
    font-size: 50px;
    font-weight: 600;
    /* border: 1px solid white; */
    width: 50%;
    margin: auto;
}
.searchStateCont>div>p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.inputStatewise{
    width: 40%;
    font-size: 25px;
    padding: 14px 10px;
    /* border-radius: 5px; */
    border: 1px solid gray;
    
    outline: none;
    color: gray;
}
button{

    padding: 14px 30px;
    background-color: #007BFF;
    color: white;
    border: 1px solid rgb(65, 65, 65);
    cursor: pointer;
    font-size: 25px;
}

.wholeTableCont{
    width: 85%;
    /* border: 1px solid #DDDDDD; */
    margin: auto;
    margin-top: 70px;
    border-radius: 3px;
    display: grid;
    grid-template-rows: auto;
}
.tableHeader{
    /* border: 1px solid blue; */
    font-weight: 500;
    display: flex;
    justify-content: center;
    
}
.tableHeader2{
    background-color: #EBEBEB;
    color: rgb(82, 82, 82);
    font-weight: 600;
    font-size: 18px;
}
.countryTD{
    background-color: #EBEBEB;
    color:  rgb(82, 82, 82);
    font-weight: 600;
    font-size: 18px;
}
.thStatewise{
    width: 215px;
    padding: 20px 0px;
    border: 1px solid #DDDDDD;
}


.tableRowData{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    transition: 400ms;
    font-weight: 500;
    color: #6C757D;
}
.tableRowData:hover{
    background-color: #DDDDDD;
}

.trStatewise{
    width: 215px;
    padding: 10px 0px;
    border: 1px solid #DDDDDD;
}


/* Media Query */

@media only screen and (max-width: 600px){
    .stateWiseCoronaCont{
        margin-left: 0px;

    }

    .searchStateCont{
        /* border: 1px solid black; */
        background-image: linear-gradient(#00000083,#00000083),url("./img/background/corona-192.jpg");
        width: 100%;
        height: 80vh;
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size:cover;
        border-bottom: 5px solid #b6b6b6;
    }


    .searchStateCont>div{
        /* border: 1px solid white; */
        padding-top: 90px;
        
    }
    .searchStateCont>div>h2{
        color: white;
        font-size: 40px;
        font-weight: 600;
        /* border: 1px solid white; */
        width: 100%;
        margin: auto;
    }
    
    
    .inputStatewise{
        width: 70%;
        font-size: 18px;
        padding: 14px 10px;
        /* border-radius: 5px; */
        
    }
    button{
    
        padding: 14px 10px;
        font-size: 18px;
    }
    
    .wholeTableCont{
        font-size: 15px;
        border-radius: 3px;
        display: grid;
        grid-template-rows: auto;
        width: 100%;
        overflow-x: auto;
        margin: auto;
    }
    
    
}