.navbarCont{
    /* border: 1px solid black; */
    width: 80px;
    height: 100vh;
    position: fixed;
    background-color: #F6F6F7;
    transition: width 400ms ease;
}

.navItem{
    width: 100%;
}
.navLink{
    display: flex;
    align-items: center;
    height: 80px;
    color: #6C757D;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 400ms ease;
}
.navLink:hover{
    filter: grayscale(0%) opacity(1);
    background: #CAE6FF;
    color: #4C75F2;
}
.linkText{
    display: none;
    margin-left: 1rem;
}
.navLink .navIcon{
    font-size: 2rem;
    margin: 0 1.5rem;
}
.navLink .navIcon:hover{
    color: #4C75F2;
}
.navbarCont:hover{
    width: 16rem;
}
.navbarCont:hover .linkText{
    display: block;
    font-size: 18px;
    font-weight: 500;
}
.covidLogoCont{
    display: flex;
    align-items: center;
    height: 80px;
    color: #6C757D;
    
}
.covidLogoCont .covidLogo{
    font-size: 16px;
    text-decoration: none;
    margin: 0 0.7rem;
    font-family: monospace;
    font-weight: 600;
    color: #007BFF;
}
.covidLogoTracker{
   color: #FF073A; 
}



.lightModeCont{
    display: flex;
    align-items: center;
    
    color: #6C757D;
    
}
.lightModeCont>i{
    font-size: 2rem;
    margin: 0 1.5rem;    
}
.darkModeCont{
    display: flex;
    align-items: center;
    
    color: #6C757D;
}
.darkModeCont>i{
    font-size: 2rem;
    margin: 0 1.5rem;    
}
.lightModeCont > i{
    font-size: 32px;
    color: #6C757D;
    cursor: pointer;
 
}
.lightModeCont > i:hover{
    color: #007BFF;
}

.darkModeCont > i{
    font-size: 32px;
    color: rgb(255, 217, 0);
    cursor: pointer;
}


/* Media Query */

@media only screen and (max-width: 600px){
    .navbarCont{
        display: flex;
        bottom: 0;
        width: 100vw;
        height: 80px;
        background-color: #F6F6F7;
        transition:none;
        flex-direction: row;
        z-index: 500;
    }
    .covidLogoCont .covidLogo{
        display: none;
    }
    .navbarCont:hover{
        width: 100vw;
    }
    .navbarCont:hover .linkText{
        display: none;
    }
    .navLink .navIcon{
        font-size: 2rem;
        margin: 0 auto;
    }
}